.st1 {
  fill: #fff;
  stroke: #89949b;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

.st0 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #e8ebed;
}

.st2 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #dbdfe1;
}
.st3 {
  fill: #fff;
}
.st4,
.st5 {
  clip-rule: evenodd;
  stroke: #89949b;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

.st4 {
  fill-rule: evenodd;
  fill: #e8ebed;
}

.st5 {
  fill-rule: evenodd;
  fill: #fff;
}

.st6,
.st7 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: none;
}

.st6 {
  stroke: #89949b;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

.st7 {
  stroke: #89949b;
  stroke-width: 4;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

.st8 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #fff;
  stroke: #89949b;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

.st9 {
  fill: #89949b;
}

.st10 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #89949b;
}

.st11 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: none;
  stroke: #89949b;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

.st12,
.st13 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #fff;
}

.st13 {
  stroke: #8894a0;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

.st14,
.st15 {
  fill: none;
  stroke: #89949b;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}
